body{
    background-color: gray;
    text-align: center;
   
}
table{
    margin: auto;
    border:2px solid blueviolet;
    border-collapse:separate;
    width: 50%;
    text-align: start;
   
    /* border-bottom: palevioletred; */
}
h1{
   
   text-align: center;
}
thead{
    background-color: rgb(237, 122, 195);
    font-weight: bold;
    
}
th, td{
    border-bottom: 2px solid purple;
   
   
}
/* p{
    background-color: aliceblue;
   padding: 0;
} */

